.newest-card{
    max-width: 640px;
    margin: 25px;
}

.Newest-heading{
    margin-top:3%;
    color:#e7280c;
    font-size: 30px;
    text-align: center;
}

.loader-newest {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #e7280c;
    width: 180px;
    height: 180px;
    position: absolute; /*it can be fixed too*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-top: 30%;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
