.search-card{
    max-width: 18rem;
    margin: 20px;
    }
.search-button{
    background-color: #e7280c;
}
.search-holeder{
  margin-left: 50px;
}
.loader-search {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #e7280c;
    width: 200px;
    height: 200px;
    position: absolute; /*it can be fixed too*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-top: 15%;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }